<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.curtech.android.olbtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="in.curtech.android.olbtest.OLBTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- 
        <receiver android:name=".OLBReceiverLeast">
            <intent-filter android:priority="0">
                <action android:name="in.curtech.android.olbtest.EVENT_OCCURRED"/>
            </intent-filter>
        </receiver>
         <receiver android:name=".OLBReceiverMid">
            <intent-filter android:priority="50">
                <action android:name="in.curtech.android.olbtest.EVENT_OCCURRED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".OLBReceiverHighest">
            <intent-filter android:priority="100">
                <action android:name="in.curtech.android.olbtest.EVENT_OCCURRED"/>
            </intent-filter>
        </receiver>
         -->
    </application>

</manifest>
